.stApp > header {
    background-color: transparent;
}

.stApp {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: #2A3132;
}

[data-testid="stSidebar"] > div:first-child {
    background-image: url("data:image/png;base64,{img}");
    background-position: center;
}
